* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Open Sans', sans-serif; */
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    font-family: 'Open Sans', sans-serif;
}

.oficina-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin: bottom 10px;
    ;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.oficina-title span {
    color: #2D2E81;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #11eed46e;
    border: 2px solid #11EE66;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .6s ease;
    transition-property: background-color, color, border;
}

.cta:hover {
    color: #2D2E81;
    background-color: #11eed4d0;
    border: 2px solid #2D2E81;
}

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.brand h1 span{
    color: #ffffff;
}

/* Hero Section */
#hero {
    background-image: url('../img/casarao-bg.jpg');
    background-size: cover;
    background-position: top-center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;

}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;


}

#hero h1:nth-child(1) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}


#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #11eed4;
    animation: text_reveal_box 1s ease forwards;
    animation-delay: .3s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {

    animation-delay: 1.5s;
}

/* Images */

#image .image {
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 50px;
}
#image .card {
    flex-basis: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid #2D2E81;
    background-color: lightgray;
    margin: 20px;
}

#image .card h1 {
     justify-content: center;
     padding-bottom: 20px;
}

#image .card img {
    max-width: 95%;
    margin-bottom: 20px;
    border: 2px solid gray;
}

/* Keyframes */

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: #fafdfd;

    }


}

@keyframes text_reveal_name {
    100% {
        color: #11eed4;
        font-weight: 500px;
    }


}   

@media only screen and (min-width: 768px) {

    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.oficina-title {
        font-size: 6rem;
    }

    /* Hero */

    #hero h1 {
        font-size: 7rem;
    }
    
    #image .image {
        flex-direction: row;
        text-align: center;
        max-width: 100%;
        min-height: fit-content;
        margin: 0 auto;
        padding: 100px 50px;
        flex-wrap: wrap;
    }
    #image .card {
        flex-basis: 30%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 2px;
        padding-top: 10px;
        position: relative;
        overflow: auto;
        border: 5px solid rgba(241, 236, 236, 0.829);
        background-color: lightgray;
        margin: 20px;
        height: 100%;
        max-width: 1000px;
    }
    
    #image .card h1 {
         justify-content: center;
         padding-bottom: 20px;
    }
    
    #image .card img {
        max-width: 95%;
        margin-bottom: 20px;
        border: 2px solid gray;
    }


}